<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CBirriel - Traducciones</title>
</head>

<body id="page-top">
  <!-- header section -->
  <section class="banner" role="banner">
    <header id="header">
      <div class="header-content clearfix"> 
        <a class="logo" href="#page-top">CB - Traducciones</a>
        <nav class="navigation" role="navigation">
          <ul class="primary-nav">
            <li><a href="#page-top">Inicio</a></li>
            <li><a href="#aboutUs">Sobre nosotros</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
      </div>
    </header>
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-text text-center">
          <h1>Clementina Birriel Traducciones</h1>
        </div>
      </div>
  </section>
  <!-- header section -->
  <!-- about us section -->
  <section id="aboutUs" class="section aboutUs">
    <div class="container">
      <div class="text-center">
        <h3>Sobre nosotros</h3>
        <p>Clementina Birriel Traducciones es una empresa que ofrece un servicio de traduccion inglés <> español de
            calidad y confiable. El servicio está a cargo de una Traductora Pública egresado de la Universidad de
            Montevideo que con total responsabilidad y confidencialidad realiza un servicio adecuado a las necesidades
            de cada cliente. En cada trabajo de asegura seriedad, compromiso y eficacia.</p>
      </div>
    </div>
  </section>
  <!-- about us section -->
  <!-- services section -->
  <section id="services" class="services service-section">

    <div class="container text-center">
      <h3>Servicios</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 services text-center"> <i class="icon fa fa-institution"></i>
          <div class="services-content">
            <h5>Traducciones oficiales</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services text-center"> <i class="icon fa fa-file-text"></i>
          <div class="services-content">
            <h5>Traducciones no oficiales</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services text-center"> <i class="icon fa fa-volume-up"></i>
          <div class="services-content">
            <h5>Traducciones audiovisuales</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services text-center"> <i class="icon fa fa-language"></i>
          <div class="services-content">
            <h5>Traducciones cientifico-técnica</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services text-center"> <i class="icon fa fa-search"></i>
          <div class="services-content">
            <h5>Revisión y corrección de textos</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact section -->
  <section id="contact" class="section aboutUs">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 conForm">
          <h3 id="contact_title">Contacto</h3>
          <div id="message"></div>
          <%= form_with(url: '/send_email', method: :post, :html => { :id => "comments_form" }) do %>
						<%= text_field_tag(:contact_name, nil, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12", placeholder: 'Nombre...') %>
            <span id="name_help_block" class="help-block"></span>
            <%= text_field_tag(:contact_email, nil, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr", placeholder: 'Email...') %>  
            <span id="email_help_block" class="help-block"></span>
						<%= text_area_tag(:contact_message, nil, class: "col-xs-12 col-sm-12 col-md-12 col-lg-12", placeholder: 'Escriba su consulta...') %>
            <span id="message_help_block" class="help-block"></span>
						<%= button_tag("Enviar", class: "submitBnt", id: 'submit') %>
						<div id="simple-msg"></div>
					<% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- contact section -->
  <!-- Footer section -->
  <!--footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-6">
          <h5>Our Office Location</h5>
          <p>Collins Street West Victoria 8007 Australia.<br>
            1800 1234 56789 / 98532100987<br>
            support@lexis.com</p>
          <p>Copyright © 2015 Lexis Inc. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
        </div>
        <div class="footer-col col-md-3">
          <h5>Services We Offer</h5>
          <p>
          <ul>
            <li><a href="#">Digital Strategy</a></li>
            <li><a href="#">Websites</a></li>
            <li><a href="#">Videography</a></li>
            <li><a href="#">Social Media</a></li>
            <li><a href="#">User Experience</a></li>
          </ul>
          </p>
        </div>
        <div class="footer-col col-md-3">
          <h5>Share with Love</h5>
          <ul class="footer-share">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div-->
</body>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

</html>